*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
}

.search{
    width: 60%;
    /* padding: 20px; */
}

.search input{
    width: 100%;
    padding: 6px;
    border: 2px solid white;
    border-radius: 5px;

}

.cart-icon{
    font-size: 25px;
    
}

.site-name h1{
    padding-left: 13px;
}