*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #f0f0f0;
}

nav{
    background-color: rgba(255, 123, 0, 0.721);
    /* background-color: #e7d4c5; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.search{
    width: 60%;
    /* padding: 20px; */
}

.search input{
    width: 100%;
    padding: 6px;
    border: 2px solid white;
    border-radius: 5px;

}

.cart-icon{
    font-size: 25px;
    
}

.site-name h1{
    padding-left: 13px;
}

.categories{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 50px;
    column-gap: 30px;
    padding: 40px;
}

.category-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border: 3px solid white;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.5s;
}

.category-card:hover{
    transform: scale(1.05);
    /* background-color: aqua; */
    
}

.category-card img{
    width: 260px;
    height: 230px;
}